In [3]:
import pandas as pd

In [61]:
df = pd.read_csv('adidas_items3.csv')
df.head()

,Unnamed: 0,name,link,category,subcategory,price,size,condition,color,views,interested
0,0,Adidas samba og cloud white core black,https://www.vinted.fr/femmes/chaussures/basket...,Chaussures,Baskets,150.0,38,5,"NOIR, BLANC",12,1.0
1,1,Jogging Adidas Noir,https://www.vinted.fr/femmes/vetements/vetemen...,Vêtements de sport,Survêtements,29.0,S / 36 / 8,3,NOIR,330,42.0
2,2,Adidas Ozelia,https://www.vinted.fr/hommes/chaussures/basket...,Chaussures,Baskets,80.0,44,5,"ORANGE, BLANC",119,0.0
3,3,Ensemble adidas noir,https://www.vinted.fr/enfants/garcons/autres/2...,Garçons,Autres,40.0,13 ANS / 152-158 CM,4,NOIR,78,3.0
4,4,Adidas cuir,https://www.vinted.fr/hommes/chaussures/chauss...,Chaussures de sport,Chaussures de tennis,12.0,41,2,BLANC,92,0.0

In [5]:
df.interested.fillna(0,inplace=True)
df.interested.isna().sum()

0

In [6]:
df.category,df.subcategory = df.subcategory,df.category
df.category.head()

0             Chaussures
1     Vêtements de sport
2             Chaussures
3                Garçons
4    Chaussures de sport
Name: category, dtype: object

In [7]:
df.condition.value_counts()

condition
TRÈS BON ÉTAT          240
NEUF AVEC ÉTIQUETTE     76
NEUF SANS ÉTIQUETTE     76
BON ÉTAT                40
SATISFAISANT            20
Name: count, dtype: int64

In [8]:
condition_list = [condition for condition in df.condition.unique()]
condition_list[1],condition_list[2] = condition_list[2],condition_list[1]
condition_list.reverse()
condition_list

['SATISFAISANT',
 'BON ÉTAT',
 'TRÈS BON ÉTAT',
 'NEUF SANS ÉTIQUETTE',
 'NEUF AVEC ÉTIQUETTE']

In [9]:
for condition in condition_list:
    df.loc[df.condition == condition, 'condition'] = condition_list.index(condition) + 1

In [10]:
df.condition.value_counts()

condition
3    240
5     76
4     76
2     40
1     20
Name: count, dtype: int64

In [86]:
df.groupby('category').price.mean()

category
Accessoires de sports               13.000000
Baskets                             18.333333
Chaussures                          63.964286
Chaussures de sport                 35.400000
Chaussures habillées                 7.000000
Chemises & t-shirts                  3.000000
Garçons                             16.166667
Hauts et t-shirts                   10.000000
Manteaux & vestes                   35.000000
Pantalons                           32.500000
Pantalons & shorts                  15.000000
Pulls & sweats                       8.250000
Sweats & pulls                      23.125000
Sweats et sweats à capuche          17.000000
T-shirts                            13.000000
Vestes                              35.000000
Vêtements de sport                  31.312500
Vêtements de sport & accessoires    27.925556
Name: price, dtype: float64

In [85]:
df.groupby('category').price.mean().index

Index(['Accessoires de sports', 'Baskets', 'Chaussures', 'Chaussures de sport',
       'Chaussures habillées', 'Chemises & t-shirts', 'Garçons',
       'Hauts et t-shirts', 'Manteaux & vestes', 'Pantalons',
       'Pantalons & shorts', 'Pulls & sweats', 'Sweats & pulls',
       'Sweats et sweats à capuche', 'T-shirts', 'Vestes',
       'Vêtements de sport', 'Vêtements de sport & accessoires'],
      dtype='object', name='category')

In [99]:
df.columns[1:]

Index(['name', 'link', 'category', 'subcategory', 'price', 'size', 'condition',
       'color', 'views', 'interested'],
      dtype='object')

In [94]:
df.to_csv('adidas_items3.csv',index=False)