In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('adidas_items2.csv')
df.head()

,name,link,category,subcategory,price,size,condition,color,views,interested
0,Adidas samba og cloud white core black,https://www.vinted.fr/femmes/chaussures/basket...,Baskets,Chaussures,150.0,38,NEUF AVEC ÉTIQUETTE,"NOIR, BLANC",12,1.0
1,Jogging Adidas Noir,https://www.vinted.fr/femmes/vetements/vetemen...,Survêtements,Vêtements de sport,29.0,S / 36 / 8,TRÈS BON ÉTAT,NOIR,330,42.0
2,Adidas Ozelia,https://www.vinted.fr/hommes/chaussures/basket...,Baskets,Chaussures,80.0,44,NEUF AVEC ÉTIQUETTE,"ORANGE, BLANC",119,NaN
3,Ensemble adidas noir,https://www.vinted.fr/enfants/garcons/autres/2...,Autres,Garçons,40.0,13 ANS / 152-158 CM,NEUF SANS ÉTIQUETTE,NOIR,78,3.0
4,Adidas cuir,https://www.vinted.fr/hommes/chaussures/chauss...,Chaussures de tennis,Chaussures de sport,12.0,41,BON ÉTAT,BLANC,92,NaN

In [5]:
df.interested.fillna(0,inplace=True)
df.interested.isna().sum()

0

In [6]:
df.category,df.subcategory = df.subcategory,df.category
df.category.head()

0             Chaussures
1     Vêtements de sport
2             Chaussures
3                Garçons
4    Chaussures de sport
Name: category, dtype: object

In [7]:
df.condition.value_counts()

condition
TRÈS BON ÉTAT          240
NEUF AVEC ÉTIQUETTE     76
NEUF SANS ÉTIQUETTE     76
BON ÉTAT                40
SATISFAISANT            20
Name: count, dtype: int64

In [8]:
condition_list = [condition for condition in df.condition.unique()]
condition_list[1],condition_list[2] = condition_list[2],condition_list[1]
condition_list.reverse()
condition_list

['SATISFAISANT',
 'BON ÉTAT',
 'TRÈS BON ÉTAT',
 'NEUF SANS ÉTIQUETTE',
 'NEUF AVEC ÉTIQUETTE']

In [9]:
for condition in condition_list:
    df.loc[df.condition == condition, 'condition'] = condition_list.index(condition) + 1

In [10]:
df.condition.value_counts()

condition
3    240
5     76
4     76
2     40
1     20
Name: count, dtype: int64

In [11]:
df.groupby('subcategory').price.mean()

subcategory
Autres                           21.000000
Baskets                          68.153846
Baskets sans lacets              25.000000
Baskets à lacets                 18.333333
Baskets à scratch                15.000000
Chaussures bébé                   9.500000
Chaussures de basket             25.000000
Chaussures de course             15.000000
Chaussures de foot               62.500000
Chaussures de tennis             12.000000
Chaussures à lacets               7.000000
Gilets zippés                     9.000000
Hauts & t-shirts                 37.141429
Jogging                          32.500000
Protections                      13.000000
Pulls                             3.000000
Pulls & sweats                   25.000000
Pulls et pulls à capuche         15.500000
Pulls à capuche & sweatshirts    12.000000
Pulls à capuche avec zip         15.000000
Shorts                           17.000000
Shorts et pantacourts            15.000000
Survêtements                     30.175000
Sweats                           27.800000
Sweats & sweats à capuche        15.500000
T-shirts                          6.500000
T-shirts manches longues         13.000000
Vestes                           20.000000
Vestes coupe-vent                35.000000
Vestes sans manches              35.000000
Vêtements d'extérieur            11.333333
Vêtements de sport               14.600000
Name: price, dtype: float64

In [12]:
df.groupby('subcategory').category.value_counts()

subcategory                    category
Autres                         Garçons                               8
                               Vêtements de sport & accessoires      4
Baskets                        Chaussures                          104
Baskets sans lacets            Baskets                               4
Baskets à lacets               Baskets                              12
Baskets à scratch              Baskets                               8
Chaussures bébé                Chaussures                            8
Chaussures de basket           Chaussures de sport                   4
Chaussures de course           Chaussures de sport                   4
Chaussures de foot             Chaussures de sport                   8
Chaussures de tennis           Chaussures de sport                   4
Chaussures à lacets            Chaussures habillées                  4
Gilets zippés                  Pulls & sweats                        8
Hauts & t-shirts               Vêtements de sport & accessoires     28
Jogging                        Pantalons                             8
Protections                    Accessoires de sports                 4
Pulls                          Pulls & sweats                        4
Pulls & sweats                 Vêtements de sport & accessoires     12
Pulls et pulls à capuche       Sweats & pulls                        8
Pulls à capuche & sweatshirts  Pulls & sweats                        4
Pulls à capuche avec zip       Sweats & pulls                        4
Shorts                         Vêtements de sport & accessoires      4
Shorts et pantacourts          Pantalons & shorts                    4
Survêtements                   Vêtements de sport & accessoires     48
                               Vêtements de sport                   32
Sweats                         Sweats & pulls                       20
Sweats & sweats à capuche      Sweats et sweats à capuche            8
T-shirts                       Hauts et t-shirts                     4
                               Chemises & t-shirts                   4
T-shirts manches longues       T-shirts                              4
Vestes                         Sweats et sweats à capuche            4
Vestes coupe-vent              Vestes                               12
Vestes sans manches            Manteaux & vestes                     4
Vêtements d'extérieur          Vêtements de sport & accessoires     12
Vêtements de sport             Garçons                              40
Name: count, dtype: int64

In [13]:
df.to_csv('adidas_items3.csv',index=True)